<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GStore</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/venobox.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/styles/animate.css">
</head>

<body>

    {{{body}}}

    <script src="/scripts/updatecart.js"></script>
    <script src="/scripts/filter.js"></script>
    <script src="/scripts/store.js"></script>
</body>


<footer>

        <div class="logofooter">
            <img src="/images/logo.png" class="mainnav__logoimg" alt="">
        </div>
        <div>
            <p>Copyright © 2019 GStore. Todos los derechos reservados. Términos y Condiciones. Política de privacidad SA “Helis play”, C/Gyneju 4-333, Vilnius, República de Lituania</p>
        </div>


</footer>

</html>