<header>
    <div class="mainnav">
        <div class="mainnav__logo">
            <a href="/productos">
                <img src="/images/logo.png" class="mainnav__logoimg" alt="">
            </a>
        </div>

        <div class="mainnav__logohamb">
            <div>
                <img src="" class="mainnav__logoimg" alt="">
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="/productos">Catálogo</a></li>
                <li><a href="#characteristics">Más vendidos</a></li>
                <li><a href="#galery">Ofertas</a></li>
            </ul>

        </nav>
        <input type="search" class="mainnav__search" placeholder="Buscar...">
        <div class="mainnav__options">
            <img src="/images/userimg.png" class="mainnav__img" alt="">
        </div>
        <div class="mainnav__logo">

            <div class="cartandcount">
                <a href="/carro_de_compras">
                    <img src="/images/car.png" class="mainnav__img" alt="">
                    <p class="counter_products"></p>
                </a>
            </div>

        </div>


    </div>


</header>


<main>
    <div class="content">
        <!--
            <H2>Resultados de la busqueda</H2>
        -->
        <div class="content__products">

            <div class="content__filter">

                <h3>Plataforma</h3>
                <input class="filter-option" type="checkbox" name="checkbox" value="Plataforma/steam" id="steam">
                <label for="steam">Steam</label>
                <br>
                <input class="filter-option" type="checkbox" name="checkbox" value="Plataforma/origin" id="origin">
                <label for="origin">Origin</label>
                <br>
                <input class="filter-option" type="checkbox" name="checkbox" value="Plataforma/epic" id="epic">
                <label for="epic">Epic Games Store</label>
                <br>

                <h3>Genero</h3>
                <input class="filter-option" type="checkbox" name="checkbox" value="Genero/FPS" id="FPS">
                <label for="FPS">FPS</label>
                <br>
                <input class="filter-option" type="checkbox" name="checkbox" value="Genero/Carreras" id="Carreras">
                <label for="Carreras">Carreras</label>
                <br>
                <input class="filter-option" type="checkbox" name="checkbox" value="Genero/RPG" id="RPG">
                <label for="RPG">RPG</label>
                <br>
                <input class="filter-option" type="checkbox" name="checkbox" value="Genero/Aventura" id="Aventura">
                <label for="Aventura">Aventura</label>
                <br>

                <h3>Tipo</h3>
                <input class="filter-option" type="checkbox" name="checkbox" value="Tipo/Juego" id="Juego">
                <label for="Juego">Juego</label>
                <br>
                <input class="filter-option" type="checkbox" name="checkbox" value="Tipo/DlC" id="DlC">
                <label for="DlC">DlC</label>
                <br>


            </div>

            <div class="content__productsGames">
                <div class="content__productsorder">
                    <div>
                        <h3>Resultados encontrados</h3>
                    </div>
                    <div class="listorder">
                        <img src="/images/orderby.png" alt="">
                        <h3>Ordenar por</h3>
                    </div>
                </div>

                <div class="orderlistview">
                    <input class="" type="checkbox" name="checkbox" value="" id="lestomost">
                    <label for="lestomost">Precio: Bajo a alto</label>
                    <input class="" type="checkbox" name="checkbox" value="" id="mosttoles">
                    <label for="mosttoles">Precio: Alto a bajo</label>
                    <input class="" type="checkbox" name="checkbox" value="" id="mostpopular">
                    <label for="mostpopular">Lo mas popular primero</label>
                    <input class="" type="checkbox" name="checkbox" value="" id="recent">
                    <label for="recent">Lanzamiento mas reciente</label>
                </div>


                <div class="content__games">

                    {{#each products}}
                    <div class="game">
                        <a href="/juego/{{title}}" class="linkgame">
                            <img src="{{img}}" class="game__img" alt="">
                            <div>

                                <div class="gametitle">
                                    <h3>{{title}}</h3>
                                </div>
                                <div class="gameprice">
                                    <h4>${{price}} COP</h4>

                                </div>
                            </div>

                        </a>
                    </div>
                    {{/each}}

                </div>

            </div>

            <div>

            </div>

        </div>
    </div>


    <script src="/scripts/filter.js"></script>



</main>