@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "regular";
  src: url("/fonts/GothaProReg.otf");
}

@font-face {
  font-family: "bold";
  src: url("/fonts/GothaProBol.otf");
}

@font-face {
  font-family: "media";
  src: url("/fonts/GothaProMed.otf");
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background: #5a03bd;
  font-family: "regular";
  font-weight: lighter;
  margin-bottom: 180px;
}

header {
  width: 100%;
  background: #7F32FF;
}

footer {
  margin-top: 50px;
  width: 100%;
  background: #7F32FF;
  color: #fff;
  height: 140px;
  position: absolute;
  bottom: 0;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.logofooter {
  width: 200px;
}

.madeby {
  font-size: smaller;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainnav {
  width: 80%;
  height: 70px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainnav__logohamb {
  display: none;
}

.mainnav__logo {
  height: 70px;
  float: left;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainnav__options {
  height: 70px;
  float: left;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainnav__logoimg {
  width: 150px;
}

.mainnav__menu {
  width: 40px;
}

nav {
  height: 70px;
  float: left;
  padding-top: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 50px;
  letter-spacing: 1px;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

nav ul li a:hover {
  color: #fc418c;
}

.mainnav__search {
  height: 35px;
  width: 30%;
  margin: auto;
  margin-left: 25px;
  margin-right: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.301);
  color: #fff;
  border-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 10px;
  font-family: "regular";
  font-size: 17px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-right: 17px;
}

input.mainnav__search:focus {
  outline-width: 0;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

.mainnav__img {
  width: 32px;
  margin: auto;
  margin-left: 10px;
}

.content {
  width: 80%;
  margin: 30px auto;
}

.content__products {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__productsorder {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__productsorder div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__productsorder div img {
  width: 30px;
  margin-right: 10px;
}

[type="checkbox"] {
  display: none;
}

label {
  padding-left: 1.3em;
  position: relative;
}

label:before {
  content: ' ';
  border: solid 1px #FF0B6B;
  border-radius: 3px;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  left: 0px;
  top: 0.1em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

[type="checkbox"]:checked + label:before {
  border-color: #FF0B6B;
  color: #FF0B6B;
  content: '\f00c';
  font-family: FontAwesome;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.content__filter {
  width: 210px;
  min-width: 180px;
  height: 350px;
  background-color: #7F32FF;
  color: #fff;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-shadow: 9px 10px 16px -10px rgba(0, 0, 0, 0.53);
  box-shadow: 9px 10px 16px -10px rgba(0, 0, 0, 0.53);
}

.content__filter h3 {
  margin: 14px 0;
}

.content__filter input {
  margin: 5px 0;
}

.content__filter label {
  margin: 5px 0;
}

.content__productsGames {
  margin-left: 20px;
}

.game {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 190px;
  height: 380px;
  background: #7F32FF;
  color: #fff;
  -webkit-box-shadow: 9px 10px 16px -10px rgba(0, 0, 0, 0.53);
  box-shadow: 9px 10px 16px -10px rgba(0, 0, 0, 0.53);
}

.game div {
  margin-left: 5px;
  color: #fff;
}

.gametitle {
  height: 60px;
  font-size: 15px;
  font-family: "regular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameprice {
  font-family: "media";
}

.game__img {
  width: 190px;
}

.linkgame {
  text-decoration: none;
  color: black;
}

.content__games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
}

.navpos {
  position: absolute;
  top: 0px;
  width: 100%;
}

.backgroundgame {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -100;
  width: 100%;
  height: 440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.backgroundgame div {
  background-color: rgba(127, 50, 255, 0.68);
  z-index: -99;
  width: 100%;
  height: 440px;
}

.contentviewgame {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.covergame {
  width: 290px;
}

.contentpos {
  margin-top: 90px;
}

.containerinfo {
  margin-left: 30px;
  color: #fff;
  width: 100%;
}

.containerinfo h2 {
  font-family: "media";
  font-size: 35px;
}

.containerinfo h3 {
  font-size: x-large;
}

.containerinfo__price {
  width: 560px;
  height: 80px;
  margin: 13px 0;
  background-color: rgba(169, 115, 255, 0.699);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerinfo__price div {
  margin: auto;
}

.containerinfo__price div h3 {
  font-weight: 80;
  font-size: 22px;
}

.containerinfo__price div h2 {
  font-size: 30px;
}

.containerinfo__buyicon {
  width: 160px;
}

.containerinfo__addcart {
  width: 60px;
}

.contentviewgame__platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.contentviewgame__platform img {
  width: 40px;
  margin-left: 23px;
  margin-right: 9px;
}

.contentviewgame__platform p {
  font-size: large;
}

.contentviewgame__gallery {
  margin-top: 5px;
}

.contentviewgame__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentviewgame__imgs img {
  height: 100px;
}

.cartandcount {
  position: relative;
}

.counter_products {
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  color: #fff;
  top: 8px;
  left: 35px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodycontent {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bodycontent__view {
  padding: 20px;
  color: #fff;
  width: 70%;
  background-color: #7F32FF;
  border-radius: 18px;
}

.bodycontentcart {
  background-color: #7F32FF;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 18px;
  color: #fff;
}

.cartrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: "regular";
  margin: 10px 0px;
}

.Packshot {
  width: 10%;
}

.Packshot img {
  width: 90px;
}

.nameproduct {
  width: 70%;
  text-align: center;
}

.nameproduct a {
  text-decoration: none;
  color: #fff;
}

.priceproduct {
  width: 20%;
}

.paymentinfopersonal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.paymentinfopersonal div {
  width: 50%;
  margin: 10px 0px;
}

.paymentinfopersonal div p {
  margin-bottom: 10px;
}

.paymentinfopersonal div input {
  width: 80%;
  height: 18px;
  font-family: "regular";
  border-radius: 5px;
}

.paymentinfopersonal__creditcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.paymentinfopersonal__creditcard div {
  margin-top: 0px;
}

.paymentinfopersonal__creditcard div select {
  border-radius: 5px;
  height: 20px;
  font-family: "regular";
}

.paymentinfopersonal__creditcard div input {
  width: 30%;
}

.buttonshop {
  text-decoration: none;
  color: #fff;
  margin: auto;
  width: 130px;
  height: 40px;
  background: #FF0B6B;
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orderlistview {
  margin: 20px 0px;
  display: none;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listorder {
  cursor: pointer;
}

@media (max-width: 1312px) {
  nav ul li {
    display: block;
    float: none;
    margin: 15px 0;
    position: relative;
  }
  header input {
    display: none;
  }
  .mainnav__options {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */